# 1. Ignore everything in root
/*

# 2. Allow necessary files
!/.gitignore
!/README.md
!/wp-content/

# 3. Ignore everything inside wp-content
/wp-content/*

# 4. Allow themes and plugins folders
!/wp-content/plugins/
!/wp-content/themes/

# 5. Ignore all standard themes and plugins
/wp-content/themes/*
/wp-content/plugins/*

# 6. Allow custom theme and plugin
!/wp-content/themes/udemy/
!/wp-content/plugins/udemy-plus

# 7. Ignore development junk
node_modules/
dist/
.DS_Store
local-xdebuginfo.php